# ASSIGNMENT 1

BeautifulSoup - It will be used to parse the source code and to extract the required data from the parent structure.

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

requests - It will be used to get request to the web page server to get the source code pf the web page.

In [2]:
!pip install requests

Requirement already satisfied: requests in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ashmika kardhekar\anaconda3\lib\site-packages (from requests) (3.0.4)

In [3]:
#importing the required libraries
import requests
from bs4 import BeautifulSoup

# Question 1:-
    Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [4]:
# Creating a function which will take a URL each time the function is called
def function_1(url):
    # Writing a request to fetch the data from the web page 
    page = requests.get(url)
    # Parsing 
    bs = BeautifulSoup(page.content, 'html.parser')
    # Finding all the header tags
    header_tags = bs.find_all(['h1','h2','h3','h4','h5','h6'])
    # Creating a loop to print the headers found in the html structure
    print('DISPLAY ALL THE HEADER TAGS','\n\n')
    for h in header_tags:
        # Printing the header tags
        print(h,'\n')
        # Printing the text contained in the header tags
        print('Text from the header tags :-')
        print(h.text,'\n')
        print('---------------------------------------------------------------------------------------------------------------')
# Calling the function while specifying the URL
function_1("https://en.wikipedia.org/wiki/Main_Page")

DISPLAY ALL THE HEADER TAGS


<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

Text from the header tags :-
Main Page

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

Text from the header tags :-
From today's featured article

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

Text from the header tags :-
Did you know ...

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

Text from the header tags :-
In the news

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

Text from the header tags :-
On this day

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

Text from the header tags :-
From today's featured list

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

Text from the header tags :-
Today's featured picture

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

Text from the header tags :-
Other areas of Wikipedia

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

Text from the header tags :-
Wikipedia's sister projects

---------------------------------------------------------------------------------------------------------------
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

Text from the header tags :-
Wikipedia languages

---------------------------------------------------------------------------------------------------------------
<h2>Navigation menu</h2>

Text from the header tags :-
Navigation menu

---------------------------------------------------------------------------------------------------------------
<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

Text from the header tags :-

Personal tools


---------------------------------------------------------------------------------------------------------------
<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

Text from the header tags :-

Namespaces


---------------------------------------------------------------------------------------------------------------
<h3 id="p-variants-label">
<span>Variants</span>
</h3>

Text from the header tags :-

Variants


---------------------------------------------------------------------------------------------------------------
<h3 id="p-views-label">
<span>Views</span>
</h3>

Text from the header tags :-

Views


---------------------------------------------------------------------------------------------------------------
<h3 id="p-cactions-label">
<span>More</span>
</h3>

Text from the header tags :-

More


---------------------------------------------------------------------------------------------------------------
<h3>
<label for="searchInput">Search</label>
</h3>

Text from the header tags :-

Search


---------------------------------------------------------------------------------------------------------------
<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

Text from the header tags :-

Navigation


---------------------------------------------------------------------------------------------------------------
<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

Text from the header tags :-

Contribute


---------------------------------------------------------------------------------------------------------------
<h3 id="p-tb-label">
<span>Tools</span>
</h3>

Text from the header tags :-

Tools


---------------------------------------------------------------------------------------------------------------
<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

Text from the header tags :-

Print/export


---------------------------------------------------------------------------------------------------------------
<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

Text from the header tags :-

In other projects


---------------------------------------------------------------------------------------------------------------
<h3 id="p-lang-label">
<span>Languages</span>
</h3>

Text from the header tags :-

Languages


---------------------------------------------------------------------------------------------------------------

# Question 2:-
    Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [5]:
import pandas as pd

# Creating a function which will take a URL each time the function is called
def function_2(url):
    
    # Writing a request to fetch the data from the web page
    page = requests.get(url)
    
    # Parsing
    bs = BeautifulSoup(page.content, 'html.parser') 
    
    # Find all the tags containing the movie names
    movies = bs.find_all('h3', class_='lister-item-header')
    
    movie_title = [t.text for m in movies for t in m.find_all('a')]
    
    release_year = [y.text for m in movies for y in m.find_all('span', class_='lister-item-year text-muted unbold')]
    
    #parts = bs.find_all('p', class_='text_muted')
    
    #certificate = [c.text for p in parts for c in p.find_all('span', class_='certificate')]
    
    runtime = [r.text for p in bs.find_all('p', class_='text-muted') for r in p.find_all('span', class_='runtime')]
    
    genre = [g.text.strip() for p in bs.find_all('p',  class_='text-muted') for g in p.find_all('span', class_='genre')]
    
    imdb_rating = [i.text for b in bs.find_all('div', class_='inline-block ratings-imdb-rating') for i in b.find_all('strong')]
    
    #metascore = [s.text for b in bs.find_all('div', class_='inline-block ratings-metascore') for s in b.find_all('span', class_='metascore')] 
    
    #votes = [v.text for b in bs.find_all('span', class_='text-muted') for v in b.find_all(name='nv')]
    
    Rank = range(1,101)
    #Building the data frame
    Top_100_movies = pd.DataFrame({
        'Rank' : Rank,
        'Movie' : movie_title,
        'Release_Year' : release_year,
        #'Certificate' : certificate,
        'Runtime' : runtime,
        'Genre' : genre,
        'IMDB_Rating' : imdb_rating,
        #'MetaScore' : metascore,
        #'Votes' : votes,
        #'Director' : director,
        #'Stars' : stars
    })
    
    Top_100_movies.set_index('Rank', inplace=True)
    # Saving the DataFrame to CSV
    Top_100_movies.to_csv('IMDB top 100 movies.csv')
    
    return(Top_100_movies)

function_2("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")

,Movie,Release_Year,Runtime,Genre,IMDB_Rating
Rank,,,,,
1,The Shawshank Redemption,(1994),142 min,Drama,9.3
2,The Godfather,(1972),175 min,"Crime, Drama",9.2
3,The Dark Knight,(2008),152 min,"Action, Crime, Drama",9.0
4,The Godfather: Part II,(1974),202 min,"Crime, Drama",9.0
5,12 Angry Men,(1957),96 min,"Crime, Drama",9.0
...,...,...,...,...,...
96,Eternal Sunshine of the Spotless Mind,(2004),108 min,"Drama, Romance, Sci-Fi",8.3
97,Amélie,(2001),122 min,"Comedy, Romance",8.3
98,Snatch,(2000),104 min,"Comedy, Crime",8.3
99,Requiem for a Dream,(2000),102 min,Drama,8.3
100,American Beauty,(1999),122 min,Drama,8.3

# Question 3:-
    Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [6]:
import pandas as pd

# Creating a function which will take a URL each time the function is called
def function_3(url):
    
    # Writing a request to fetch the data from the web page
    page = requests.get(url)
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page.content, 'html.parser') 
    
    # Scrape all the titles
    Movies = [m.text for h3 in bs.find_all('h3', class_='lister-item-header') for m in h3.find_all('a')]
    
    # Scrape all the release year
    Release_Year = [y.text for h3 in bs.find_all('h3', class_='lister-item-header') for y in h3.find_all('span', class_='lister-item-year')]
    
    # Scrape the rating
    IMDB_Rating = [i.text for d in bs.find_all('div', class_='ipl-rating-star small') for i in d.find_all('span', class_='ipl-rating-star__rating')]
    
    # Scrape all the runtime
    Runtime = [r.text for p in bs.find_all('p', class_='text-muted text-small') for r in p.find_all('span', class_='runtime')]
    
    # Scrape all the genres
    Genre = [g.text.strip() for p in bs.find_all('p', class_='text-muted text-small') for g in p.find_all('span', class_='genre')]
    
    Rank = range(1,101)
    #Building the data frame
    Top_100_Indian_movies = pd.DataFrame({
        'Rank' : Rank,
        'Movies' : Movies,
        'Release_Year' : Release_Year,
        'IMDB_Rating' : IMDB_Rating,
        'Runtime' : Runtime,
        'Genre' : Genre
    })

    Top_100_Indian_movies.set_index('Rank', inplace=True)
    # Saving the DataFrame to CSV
    Top_100_Indian_movies.to_csv('IMDB top 100 Indian movies.csv')
    
    return(Top_100_Indian_movies)

function_3('https://www.imdb.com/list/ls009997493/')

,Movies,Release_Year,IMDB_Rating,Runtime,Genre
Rank,,,,,
1,Rang De Basanti,(2006),8.2,167 min,"Comedy, Crime, Drama"
2,3 Idiots,(2009),8.4,170 min,"Comedy, Drama"
3,Taare Zameen Par,(2007),8.4,165 min,"Drama, Family"
4,Dil Chahta Hai,(2001),8.1,183 min,"Comedy, Drama, Romance"
5,"Swades: We, the People",(2004),8.2,210 min,Drama
...,...,...,...,...,...
96,Wake Up Sid,(2009),7.6,138 min,"Comedy, Drama, Romance"
97,Rangeela,(1995),7.5,142 min,"Comedy, Drama, Musical"
98,Shatranj Ke Khilari,(1977),7.7,129 min,"Comedy, Drama, History"
99,Pyaar Ka Punchnama,(2011),7.7,149 min,"Comedy, Drama, Romance"
100,Ek Hasina Thi,(2004),7.5,120 min,"Crime, Drama, Mystery"

# Question 4:-
    Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [7]:
import random

# Creating a function which will take a URL each time the function is called
def function_4(url):
    
    #pick any random page number
    ran = random.randint(1,1000)
    
    # Writing a request to fetch the data from the web page 
    if ran == 1:
        page = requests.get(url + '/reviews')
    else:
        page = requests.get(url + '/reviews?page=' + str(ran))
    print('page number ---->',ran,'\n\n')
    
    # Parsing 
    bs = BeautifulSoup(page.content, 'html.parser')
    
    # Finding all book names and storing them into a list
    book_name = [n.text for b in bs.find_all('h4', class_='italic') for n in b.find_all('a')]
    #print(book_name)
    
    # Finding all author names and storing them into a list
    author_name = [a.text.strip('\n') for a in bs.find_all('p', class_='sans bold')]
    #print(author_name)
    
    # Finding all genres and storing them into a list
    genre = [g.text.strip() for i in bs.find_all('p', class_='genre-links hidden-phone') for g in i.find_all('a')]
    #print(genre)
    
    # Finding all reviews along with their urls and storing them into a list
    reviews = [r.get('href') for b in bs.find_all('div', class_='read-full') for r in b.find_all('a')]
    #print(reviews)
    
    # We need only the body of the article, so creating a loop for getting full reviews
    review = []
    for r in reviews:
        review_page = requests.get('https://www.bookpage.com' + r)
        soup = BeautifulSoup(review_page.content,'html.parser')
        read_reviews = soup.find_all('div', class_='article-body')
        for rr in read_reviews:
            review.append(rr.text)
            
    #print(review)
    
    #Printing any 5 random books
    print('Any 5 books from the page:-','\n\n')

    # Choosing any 5 random books from the selected random page
    ran_index = set()
    while len(ran_index) < 5:
        ran_index.add(random.randint(0,9))
        
    for i,index in enumerate(ran_index,start=1):
        print(i,'---->')
        print('book_name :', book_name[index])
        print('author_name:', author_name[index])
        print('genre:', genre[index])
        try:
            print('review:', review[index])
        except:
            print('review:', 'NOT AVAILABLE')
        
# Calling the function while specifying the URL
function_4('http://www.bookpage.com')

page number ----> 582


Any 5 books from the page:-


1 ---->
book_name : The Red House
author_name: Mark Haddon
genre: Fiction
review:

The family vacation has been the subject of many a comedic essay and Chevy Chase film, but in Mark Haddon’s new book, it gets both the literary and psychological treatment.The Red House, Haddon’s first adult novel since 2006’s A Spot of Bother, is undoubtedly the writer’s most ambitious undertaking to date. And yet, it also pays homage to his most acclaimed book, The Curious Incident of the Dog in the Night-Time: In both stories, Haddon taps into the brains of children while at the same time making the quotidian feel larger than life.His latest offering follows one family—husband Dominic, wife Angela, children Alex, Daisy and Benjy—on a trip to Wales to visit Angela’s brother Richard and new wife and stepdaughter. From the onset, nobody is particularly excited about this sojourn (Angela and Richard haven’t been close since the death of their mother) and the laborious way in which the clan goes through the motions of “quality time” is one of the book’s many uncomfortable delights.Still, more interesting is Haddon’s creative approach to interiority. In lieu of typical authorial omniscience, he jumps from character to character’s brain—often multiple times within a single page—in a way that is both frenetic and delightful. In other words, don’t get put off if you’re initially confused; you’ll eventually get used to the device and come to appreciate Haddon’s ability to illuminate an incident from multiple points of view.Indeed, one of the book’s many great truths is that each person is too wrapped up in his own tiny dramas to appreciate anyone else’s: Angela in the loss of a stillborn child, Alex in his nascent need to assert his masculinity, Daisy in her conflicted (if fervent) relationship with God, and so on. This can lead—as in the case of several failed kisses—to miscommunications only comprehensible from the outside in. And yet, as the trip’s small incidents play out, the characters do change and do learn to understand one another—particularly the teenagers, for whom Haddon clearly has great compassion.It’s also worth mentioning that Haddon is a supremely talented and perceptive writer with a great love of language and poetics. If The Curious Incident relied on simple diction and vocabulary, this book is the opposite—lyrically flowing from thought to thought, brain to brain, potential connection to potential connection.


2 ---->
book_name : Shadow of Night
author_name: Deborah Harkness
genre: Fiction
review:

With her first novel, A Discovery of Witches, Deborah Harkness experienced the kind of success few authors dare to dream of. At a time when there is no shortage of books devoted to creatures that go bump in the night, Harkness’ hefty tome—the first in a trilogy—managed to find its way into the hands of millions of readers. It introduced readers to Diana Bishop, a witch who denies her craft, and Matthew Clairmont, an austere geneticist who also happens to be a vampire, entrancing us with the irresistible—but forbidden—relationship that developed between the two. When last we saw Diana and Matthew, they were attempting to travel to the 16th century in an effort to preserve their lives and unlock the secrets surrounding Diana’s magic.Shadow of Night picks up right where the previous book left off, with Diana and Matthew touching down in Elizabethan England. Their hunt for a witch who can help Diana harness her powers and the mysterious Ashmole 782 volume carries them through the labyrinthine streets of London, as well as across the sea to France and Prague. Initially reveling in her ability to bend time, Diana soon learns that you can travel across the globe and even across centuries, but the troubles of your life will always find you. As Diana struggles to master the secrets of her craft, she must also confront the fact that Matthew has been keeping some earth-shattering secrets.From the very first pages of Shadow of Night it is evident that this novel is as much a love story about a bygone era as it is about Matthew and Diana. It overflows with a colorful cast of characters, many of whom Harkness has plucked straight from the history books, and Harkness renders the late 1500s in exquisite detail. At times, this meticulousness causes the plot to stall, but the writing is so rich, and the characters so compelling, readers are sure to forgive. Best of all, Harkness manages to execute with aplomb the act of answering old questions while posing new ones that will intensify anticipation for the final installment. Readers who have been counting down the days, take heart: The wait was most assuredly worth it.ALSO IN BOOKPAGE:Read a Q&A with Deborah Harkness for A Discovery of Witches.


3 ---->
book_name : Alif the Unseen
author_name: G. Willow Wilson
genre: Fiction
review:

“Sometimes anger is the pure and determined light that shows you the way forward.” With these introductory words, author G. Willow Wilson sends her ferocious and joyful debut novel into the world—more accurately, her debut text-based novel, for Alif the Unseen comes on the winged heels of her award-winning graphic work. As with every comic-book artist turned author, the critical question is this: Can her talent for vivid characterization translate from image into text?
The answer, in Wilson’s case, is a resounding “yes.” The main reason for her success is her anger. It’s a courageous matter for a Muslim woman to express rage to a Western readership that has come so readily to equate Muslim rage with the horrors of 9/11. But a decade after that catastrophe, the fragile Arab Spring has given a new face to Muslim anger: not a murderous hatred, but a fine outrage against tyranny; a gutsy and spontaneous resistance against various regimes who have falsely equated freedom with apostasy.
Computer technology, and the social networking it has engendered, has been the most powerful tool for this painful process of liberation. It is inevitable, then, for the hero of Alif the Unseen to be a computer hacker, that most “unseen” of antiheroes. Alif only wanted to use his geeky skills to be with Intisar, his unattainable beloved. Instead, he finds himself at the head of a vast political storm—at first inadvertently, but then with whole heart. He is a modern-day Aladdin who rubs not a magic lamp, but a mouse pad, thus loosing chaos into his unnamed Arabian city, including genie (properly spelled “jinn”), demons and “The Hand,” who seeks to control the fate of his people.
At the center of the tale stands the figure of Dina, the “unbeautiful” maiden who hides her light under a bushel of Muslim veils. Dina points Alif to the redemption of his world through love—the unseen first principle of every great faith tradition.
Whatever the critical response may be to Wilson’s unique and unruly literary gifts, there is no question that Alif the Unseen is one of those rare events in the history of publishing, when an ancient pattern of storytelling (The Arabian Nights) is grafted onto an up-to-the-minute world crisis. This synthesis has great spiritual authority, thanks to the vision of G. Willow Wilson.


4 ---->
book_name : Coming to My Senses
author_name: Alyssa Harad
genre: Historical Fiction
review:

Woodsy and seductive, with a hint of spice, Coming to My Senses: A Story of Perfume, Pleasure, and an Unlikely Bride offers a luscious immersion in the world of perfume obsession. But what makes this memoir so appealing are its deeper notes, the ones that linger on after reading: the story of a how a no-nonsense, underemployed English Ph.D., who usually dresses like “an unmade bed,” discovers the pleasures of femininity and her own senses through an affair with fragrance.Stumbling onto the world of perfume blogs late one night, Alyssa Harad discovers a new and fascinating world of scent and language; she is as seduced by the perfumes as by the challenge of describing them. Samples start arriving in the mail, and Harad begins to develop a “vocabulary of scents” to describe the “scratchy, dirty richness” of patchouli or the “drugged, dreamy” sensation of jasmine. One afternoon, a magical transformation occurs: A honeyed wine fragrance inspires her to dump the sweats, and put on earrings and lipstick—the freelance writer as Cinderella!The elegance of Harad’s narrative comes as much from what it doesn’t say as what it does. Unlike many contemporary memoirs, Coming to My Senses contains no trauma, no bad childhood and no exposé of her relationship with boyfriend V. (she mentions postponing their wedding, but we never learn exactly why). Such reticence is refreshing, even ladylike, and after all, there is so much to say about the scents of saffron and vetiver, the “aunties” back home in Boise and the unexpected kindness of Bergdorf’s salespeople. We never miss the trauma. In fact, this memoir performs a kind of inspirational function: I’m wearing a blend of gardenia and cherry blossom as I write this. Now if I could just get out of these yoga pants.


5 ---->
book_name : Yes, Chef
author_name: Marcus Samuelsson
genre: Debut Fiction
review:

Marcus Samuelsson made his name as one of the youngest executive chefs in Manhattan and a familiar face on the Food Network.What might be less familiar is Samuelsson’s fascinating personal history, which he lays bare in Yes, Chef. Born in Ethiopia, Samuelsson and his sister became dangerously ill with tuberculosis. Their mother walked with them from their remote village to Addis Ababa, where she died. The children were adopted by a loving Swedish family.Samuelsson spent much of his childhood at the elbow of his Swedish grandmother, an excellent home cook, and went on to work at restaurants in Europe. But after a horrific car accident killed one of his closest friends, Samuelsson sought an apprenticeship to take him away from his grief. He landed at New York’s Aquavit, a restaurant that is, he writes, “more Swedish in its menu than any I had ever worked in.”This was the beginning of a love affair with New York City. To read his descriptions of the food he eats, from steamed buns in Chinatown to roasted meats from street vendors, is to almost viscerally experience the smells, sounds and sights of the city.Although he traveled the world learning about every cuisine from French to Mexican, Samuelsson was at a loss when a student asked him to describe trends in African cooking. He had not set foot on the continent since he was a toddler. Rediscovering his Ethiopian roots led him to open the successful Red Rooster in 2010, deliberately choosing the underappreciated streets of Harlem as the site for the restaurant.Samuelsson’s is the most unlikely of journeys, and he takes readers along every step of the way in this delicious memoir.

# Question 5:-
    Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:                               
    i)   Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.                                   ii)  Top 10 ODI Batsmen in men along with the records of their team and rating.    
    iii) Top 10 ODI bowlers along with the records of their team and rating.

In [8]:
# Creating a function which will take a URL each time the function is called
def function_5(url):
    
    #PART 1:-
    # Writing a request to fetch the data from the web page
    page1 = requests.get(url + '/rankings/mens/team-rankings/odi')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page1.content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
    
    # Scraping Country names
    team = [t.text for b in bs.find_all('tbody') for t in b.find_all('span', class_='u-show-phablet')]
    #print(team)
    
    # Scraping the Matches
    matches_england = []
    for b in bs.find_all('tbody'):
        for me in b.find_all('td', class_='rankings-block__banner--matches'):
            matches_england.append(me.text)
    #print(matches_england)
    
    matches = [m.text for b in bs.find_all('tr', class_='table-body') for m in b.find_all('td', class_='table-body__cell u-center-text')]
    matches = matches[0::2]
    matches = matches_england  + matches
    #print(matches)
    
    # Scrapping the points
    points_england = []
    for b in bs.find_all('tbody'):
        for pe in b.find_all('td', class_='rankings-block__banner--points'):
            points_england.append(pe.text)
    #print(points_england)
    
    points = [p.text for b in bs.find_all('tr', class_='table-body') for p in b.find_all('td', class_='table-body__cell u-center-text')]
    points = points[1::2]
    points = points_england + points
    #print(points)
    
    # Scrapping the rating
    rating_england = []
    for b in bs.find_all('tbody'):
        for re in b.find_all('td', class_='rankings-block__banner--rating u-text-right'):
            rating_england.append(re.text.strip())
    #print(rating_england)
    
    rating = [r.text for b in bs.find_all('tr', class_='table-body') for r in b.find_all('td', class_='table-body__cell u-text-right rating')]
    rating = rating_england + rating
    #print(rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_men = pd.DataFrame({
        'rank' : rank,
        'team' : team[0:10],
        'matches' : matches[0:10],
        'points' : points[0:10],
        'rating' : rating[0:10]
    })
    
    Top_10_ODI_men.set_index('rank', inplace=True)
    print('Top 10 ODI teams in men’s cricket ----->')
    display(Top_10_ODI_men)
    print('-----------------------------------------------------------------','\n\n')
    
    #PART 2:-
    # Writing a request to fetch the data from the web page
    page2 = requests.get(url + '/rankings/mens/player-rankings/odi/batting')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page2.content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
   
    # Scraping player names
    kohli = []
    for k in bs.find_all('div', class_='rankings-block__banner--name-large'):
        kohli.append(k.text)
    #print(kohli)
     
    player = [p.text for b in bs.find_all('td', class_='table-body__cell rankings-table__name name') for p in b.find_all('a')]
    player = kohli + player
    #print(player)
    
    # Scraping the country of the player
    india = []
    for i in bs.find_all('div', class_='rankings-block__banner--nationality'):
        india.append(i.text.strip())
    #print(india)
    
    team = [t.text for b in bs.find_all('td', class_='table-body__cell nationality-logo rankings-table__team') for t in b.find_all('span', class_='table-body__logo-text')]
    team = india + team
    #print(team)
    
    # Scrapping the rating
    rate = []
    for ra in bs.find_all('div', class_='rankings-block__banner--rating'):
        rate.append(ra.text)
    #print(rate)
        
    rating = [r.text for r in bs.find_all('td', class_='table-body__cell rating')]
    rating = rate + rating
    #print(rating)
    
   # Scraping the career best rating
    best = []
    for be in bs.find_all('span', class_='rankings-block__career-best-text'):
        best.append(be.text.strip())
    #print(best)
    
    career_best_rating = [c.text.strip() for c in bs.find_all('td', class_='table-body__cell u-text-right u-hide-phablet')]
    career_best_rating = best + career_best_rating
    #print(career_best_rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_batsmen = pd.DataFrame({
        'rank' : rank,
        'player' : player[0:10],
        'team' : team[0:10],
        'rating' : rating[0:10],
        'career_best_rating' : career_best_rating[0:10]
    })
    
    Top_10_ODI_batsmen.set_index('rank', inplace=True)
    print('Top 10 ODI Batsmen in men ----->')
    display(Top_10_ODI_batsmen)
    print('-----------------------------------------------------------------','\n\n')
    
    #PART 3:-
    # Writing a request to fetch the data from the web page
    page3 = requests.get(url + '/rankings/mens/player-rankings/odi/bowling')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page3.content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
   
    # Scraping player names
    trent = []
    for tb in bs.find_all('div', class_='rankings-block__banner--name-large'):
        trent.append(tb.text)
    #print(trent)
     
    player = [p.text for b in bs.find_all('td', class_='table-body__cell rankings-table__name name') for p in b.find_all('a')]
    player = trent + player
    #print(player)
    
    # Scraping the country of the player
    nz = []
    for n in bs.find_all('div', class_='rankings-block__banner--nationality'):
        nz.append(n.text.strip())
    #print(nz)
    
    team = [t.text for b in bs.find_all('td', class_='table-body__cell nationality-logo rankings-table__team') for t in b.find_all('span', class_='table-body__logo-text')]
    team = nz + team
    #print(team)
    
    # Scrapping the rating
    rate = []
    for ra in bs.find_all('div', class_='rankings-block__banner--rating'):
        rate.append(ra.text)
    #print(rate)
        
    rating = [r.text for r in bs.find_all('td', class_='table-body__cell rating')]
    rating = rate + rating
    #print(rating)
    
   # Scraping the career best rating
    best = []
    for be in bs.find_all('span', class_='rankings-block__career-best-text'):
        best.append(be.text.strip())
    #print(best)
    
    career_best_rating = [c.text.strip() for c in bs.find_all('td', class_='table-body__cell u-text-right u-hide-phablet')]
    career_best_rating = best + career_best_rating
    #print(career_best_rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_bowlingmen = pd.DataFrame({
        'rank' : rank,
        'player' : player[0:10],
        'team' : team[0:10],
        'rating' : rating[0:10],
        'career_best_rating' : career_best_rating[0:10]
    })
    
    Top_10_ODI_bowlingmen.set_index('rank', inplace=True)
    print('Top 10 ODI bolwingmen in men ----->')
    display(Top_10_ODI_bowlingmen)
    print('-----------------------------------------------------------------','\n\n')
        
# Calling the function while specifying the URL
function_5('https://www.icc-cricket.com')

Top 10 ODI teams in men’s cricket ----->

     team matches points rating
rank
1     ENG      44  5,405    123
2     IND      52  6,102    117
3      NZ      32  3,716    116
4     AUS      39  4,344    111
5      SA      31  3,345    108
6     PAK      35  3,490    100
7     BAN      37  3,366     91
8      SL      39  3,297     85
9      WI      46  3,402     74
10    AFG      31  1,844     59

-----------------------------------------------------------------


Top 10 ODI Batsmen in men ----->

                   player team rating            career_best_rating
rank
1             Virat Kohli  IND    870     911 v England, 12/07/2018
2            Rohit Sharma  IND    842   885 v Sri Lanka, 06/07/2019
3              Babar Azam  PAK    837   846 v Sri Lanka, 20/10/2017
4             Ross Taylor   NZ    818  841 v Bangladesh, 05/06/2019
5             Aaron Finch  AUS    791     798 v England, 25/06/2019
6     Francois du Plessis   SA    790   820 v Australia, 06/07/2019
7            David Warner  AUS    773    880 v Pakistan, 26/01/2017
8         Kane Williamson   NZ    765       799 v India, 09/07/2019
9         Quinton de Kock   SA    755   813 v Sri Lanka, 10/03/2019
10         Jonny Bairstow  ENG    754   777 v Australia, 21/06/2018

-----------------------------------------------------------------


Top 10 ODI bolwingmen in men ----->

                 player team rating             career_best_rating
rank
1           Trent Boult   NZ    722  770 v West Indies, 22/06/2019
2      Mujeeb Ur Rahman  AFG    708      712 v Ireland, 24/01/2021
3        Jasprit Bumrah  IND    700  841 v West Indies, 01/11/2018
4          Mehedi Hasan  BAN    694  694 v West Indies, 25/01/2021
5          Chris Woakes  ENG    675  676 v New Zealand, 14/07/2019
6         Kagiso Rabada   SA    665      724 v England, 29/05/2017
7        Josh Hazlewood  AUS    660      733 v England, 26/01/2018
8     Mustafizur Rahman  BAN    658  695 v West Indies, 14/12/2018
9         Mohammad Amir  PAK    647    663 v Sri Lanka, 02/10/2019
10          Pat Cummins  AUS    646     729 v Pakistan, 12/06/2019

-----------------------------------------------------------------

# Question 6:-
    Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
       i)   Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
       ii)  Top 10 women’s ODI players along with the records of their team and rating.
       iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [9]:
# Creating a function which will take a URL each time the function is called
def function_6(url):
    
    #PART 1:-
    # Writing a request to fetch the data from the web page
    page1 = requests.get(url + '/rankings/womens/team-rankings/odi')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page1.content, 'html.parser')
    
    # Scrapping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
    
     # Scraping Country names
    team = [t.text for b in bs.find_all('tbody') for t in b.find_all('span', class_='u-show-phablet')]
    #print(team)
    
    # Scraping the Matches
    matches_australia = []
    for b in bs.find_all('tbody'):
        for ma in b.find_all('td', class_='rankings-block__banner--matches'):
            matches_australia.append(ma.text)
    #print(matches_australia)
    
    matches = [m.text for b in bs.find_all('tr', class_='table-body') for m in b.find_all('td', class_='table-body__cell u-center-text')]
    matches = matches[0::2]
    matches = matches_australia  + matches
    #print(matches)
    
    # Scrapping the points
    points_australia = []
    for b in bs.find_all('tbody'):
        for pa in b.find_all('td', class_='rankings-block__banner--points'):
            points_australia.append(pa.text)
    #print(points_england)
    
    points = [p.text for b in bs.find_all('tr', class_='table-body') for p in b.find_all('td', class_='table-body__cell u-center-text')]
    points = points[1::2]
    points = points_australia + points
    #print(points)
    
    # Scrapping the rating
    rating_australia = []
    for b in bs.find_all('tbody'):
        for ra in b.find_all('td', class_='rankings-block__banner--rating u-text-right'):
            rating_australia.append(ra.text.strip())
    #print(rating_australia)
    
    rating = [r.text for b in bs.find_all('tr', class_='table-body') for r in b.find_all('td', class_='table-body__cell u-text-right rating')]
    rating = rating_australia + rating
    #print(rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_women = pd.DataFrame({
        'rank' : rank,
        'team' : team[0:10],
        'matches' : matches[0:10],
        'points' : points[0:10],
        'rating' : rating[0:10]
    })
    
    Top_10_ODI_women.set_index('rank', inplace=True)
    print('Top 10 ODI teams in women’s cricket ----->')
    display(Top_10_ODI_women)
    print('-----------------------------------------------------------------','\n\n')
    
    #PART 2:-
    # Writing a request to fetch the data from the web page
    page2 = requests.get(url + '/rankings/womens/player-rankings/odi/batting')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page2.content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
   
    # Scraping player names
    meg = []
    for me in bs.find_all('div', class_='rankings-block__banner--name-large'):
        meg.append(me.text)
    #print(meg)
     
    player = [p.text for b in bs.find_all('td', class_='table-body__cell rankings-table__name name') for p in b.find_all('a')]
    player = meg + player
    #print(player)
    
    # Scraping the country of the player
    aus = []
    for a in bs.find_all('div', class_='rankings-block__banner--nationality'):
        aus.append(a.text.strip())
    #print(aus)
    
    team = [t.text for b in bs.find_all('td', class_='table-body__cell nationality-logo rankings-table__team') for t in b.find_all('span', class_='table-body__logo-text')]
    team = aus + team
    #print(team)
    
    # Scrapping the rating
    rate = []
    for ra in bs.find_all('div', class_='rankings-block__banner--rating'):
        rate.append(ra.text)
    #print(rate)
        
    rating = [r.text for r in bs.find_all('td', class_='table-body__cell rating')]
    rating = rate + rating
    #print(rating)
    
   # Scraping the career best rating
    best = []
    for be in bs.find_all('span', class_='rankings-block__career-best-text'):
        best.append(be.text.strip())
    #print(best)
    
    career_best_rating = [c.text.strip() for c in bs.find_all('td', class_='table-body__cell u-text-right u-hide-phablet')]
    career_best_rating = best + career_best_rating
    #print(career_best_rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_batswomen = pd.DataFrame({
        'rank' : rank,
        'player' : player[0:10],
        'team' : team[0:10],
        'rating' : rating[0:10],
        'career_best_rating' : career_best_rating[0:10]
    })
    
    Top_10_ODI_batswomen.set_index('rank', inplace=True)
    print('Top 10 ODI Batswomen in women ----->')
    display(Top_10_ODI_batswomen)
    print('\n\nand\n\n')
    
    #PART 3:-
    # Writing a request to fetch the data from the web page
    page3 = requests.get(url + '/rankings/womens/player-rankings/odi/bowling')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page3.content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
   
    # Scraping player names
    jess = []
    for j in bs.find_all('div', class_='rankings-block__banner--name-large'):
        jess.append(j.text)
    #print(jess)
     
    player = [p.text for b in bs.find_all('td', class_='table-body__cell rankings-table__name name') for p in b.find_all('a')]
    player = jess + player
    #print(player)
    
    # Scraping the country of the player
    aus = []
    for a in bs.find_all('div', class_='rankings-block__banner--nationality'):
        aus.append(a.text.strip())
    #print(aus)
    
    team = [t.text for b in bs.find_all('td', class_='table-body__cell nationality-logo rankings-table__team') for t in b.find_all('span', class_='table-body__logo-text')]
    team = aus + team
    #print(team)
    
    # Scrapping the rating
    rate = []
    for ra in bs.find_all('div', class_='rankings-block__banner--rating'):
        rate.append(ra.text)
    #print(rate)
        
    rating = [r.text for r in bs.find_all('td', class_='table-body__cell rating')]
    rating = rate + rating
    #print(rating)
    
   # Scraping the career best rating
    best = []
    for be in bs.find_all('span', class_='rankings-block__career-best-text'):
        best.append(be.text.strip())
    #print(best)
    
    career_best_rating = [c.text.strip() for c in bs.find_all('td', class_='table-body__cell u-text-right u-hide-phablet')]
    career_best_rating = best + career_best_rating
    #print(career_best_rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_bowlingwomen = pd.DataFrame({
        'rank' : rank,
        'player' : player[0:10],
        'team' : team[0:10],
        'rating' : rating[0:10],
        'career_best_rating' : career_best_rating[0:10]
    })
    
    Top_10_ODI_bowlingwomen.set_index('rank', inplace=True)
    print('Top 10 ODI bolwingwomen in women ----->')
    display(Top_10_ODI_bowlingwomen)
    print('-----------------------------------------------------------------','\n\n')
        
    #PART 4 :-
    # Writing a request to fetch the data from the web page
    page4 = requests.get(url + '/rankings/womens/player-rankings/odi/all-rounder')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page4.content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('tbody')]
    #print(table)
   
    # Scraping player names
    ellyse = []
    for e in bs.find_all('div', class_='rankings-block__banner--name-large'):
        ellyse.append(e.text)
    #print(ellyse)
     
    player = [p.text for b in bs.find_all('td', class_='table-body__cell rankings-table__name name') for p in b.find_all('a')]
    player = ellyse + player
    #print(player)
    
    # Scraping the country of the player
    aus = []
    for a in bs.find_all('div', class_='rankings-block__banner--nationality'):
        aus.append(a.text.strip())
    #print(aus)
    
    team = [t.text for b in bs.find_all('td', class_='table-body__cell nationality-logo rankings-table__team') for t in b.find_all('span', class_='table-body__logo-text')]
    team = aus + team
    #print(team)
    
    # Scrapping the rating
    rate = []
    for ra in bs.find_all('div', class_='rankings-block__banner--rating'):
        rate.append(ra.text)
    #print(rate)
        
    rating = [r.text for r in bs.find_all('td', class_='table-body__cell rating')]
    rating = rate + rating
    #print(rating)
    
   # Scraping the career best rating
    best = []
    for be in bs.find_all('span', class_='rankings-block__career-best-text'):
        best.append(be.text.strip())
    #print(best)
    
    career_best_rating = [c.text.strip() for c in bs.find_all('td', class_='table-body__cell u-text-right u-hide-phablet')]
    career_best_rating = best + career_best_rating
    #print(career_best_rating)
    
    rank = range(1,11)
    #Building the data frame
    Top_10_ODI_all_rounder = pd.DataFrame({
        'rank' : rank,
        'player' : player[0:10],
        'team' : team[0:10],
        'rating' : rating[0:10],
        'career_best_rating' : career_best_rating[0:10]
    })
    
    Top_10_ODI_all_rounder.set_index('rank', inplace=True)
    print('Top 10 ODI all rounder in women ----->')
    display(Top_10_ODI_all_rounder)
    print('-----------------------------------------------------------------','\n\n')
        
    
# Calling the function while specifying the URL
function_6('https://www.icc-cricket.com')

Top 10 ODI teams in women’s cricket ----->

     team matches points rating
rank
1     AUS      15  2,436    162
2     IND      15  1,812    121
3     ENG      14  1,670    119
4      SA      19  2,090    110
5      NZ      15  1,384     92
6      WI      12  1,025     85
7     PAK      15  1,101     73
8     BAN       5    306     61
9      SL      11    519     47
10    IRE       2     25     13

-----------------------------------------------------------------


Top 10 ODI Batswomen in women ----->

                 player team rating             career_best_rating
rank
1           Meg Lanning  AUS    749  834 v New Zealand, 24/02/2016
2       Stafanie Taylor   WI    746        765 v India, 02/03/2012
3          Alyssa Healy  AUS    741  741 v New Zealand, 07/10/2020
4       Smriti Mandhana  IND    732      797 v England, 28/02/2019
5     Amy Satterthwaite   NZ    723    756 v Australia, 02/03/2017
6        Tammy Beaumont  ENG    716    738 v Australia, 04/07/2019
7       Laura Wolvaardt   SA    691  712 v New Zealand, 25/01/2020
8          Ellyse Perry  AUS    691  766 v West Indies, 11/09/2019
9           Mithali Raj  IND    687    839 v Australia, 24/12/2004
10          Lizelle Lee   SA    681      752 v England, 12/06/2018

and


Top 10 ODI bolwingwomen in women ----->

              player team rating              career_best_rating
rank
1      Jess Jonassen  AUS    804   804 v New Zealand, 07/10/2020
2       Megan Schutt  AUS    735   766 v West Indies, 11/09/2019
3     Marizanne Kapp   SA    711   738 v New Zealand, 30/01/2020
4     Shabnim Ismail   SA    708   717 v New Zealand, 30/01/2020
5     Jhulan Goswami  IND    691       796 v England, 28/02/2007
6       Poonam Yadav  IND    679   680 v West Indies, 06/11/2019
7      Shikha Pandey  IND    675  696 v South Africa, 11/10/2019
8       Ellyse Perry  AUS    666   719 v West Indies, 05/09/2019
9     Anya Shrubsole  ENG    645      655 v Pakistan, 12/12/2019
10     Deepti Sharma  IND    639       650 v England, 22/02/2019

-----------------------------------------------------------------


Top 10 ODI all rounder in women ----->

                player team rating              career_best_rating
rank
1         Ellyse Perry  AUS    460   548 v West Indies, 11/09/2019
2      Stafanie Taylor   WI    410   559 v New Zealand, 10/10/2013
3       Marizanne Kapp   SA    396      412 v Pakistan, 23/01/2021
4        Deepti Sharma  IND    359  397 v South Africa, 09/10/2019
5        Jess Jonassen  AUS    301   308 v West Indies, 11/09/2019
6     Dane van Niekerk   SA    297     421 v Sri Lanka, 11/02/2019
7        Sophie Devine   NZ    289     305 v Australia, 05/10/2020
8       Natalie Sciver  ENG    273     307 v Sri Lanka, 21/03/2019
9        Shikha Pandey  IND    250  262 v South Africa, 14/10/2019
10     Katherine Brunt  ENG    232     270 v Sri Lanka, 16/03/2019

-----------------------------------------------------------------

# Question 7:-
    Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [11]:
from urllib.request import Request, urlopen
# Creating a function which will take a URL each time the function is called
def function_7(url):
    
    # Writing a request to fetch the data from the web page
    page = Request(url + 's?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A-2000000&dc&qid=1612616602&rnid=1318502031&ref=sr_nr_p_36_5')
    page.add_header('apikey', 'xxx')
    content = urlopen(page).read()
    
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(content, 'html.parser')
    
    # Scraping all the required data
    table = [b.text for b in bs.find_all('div', class_="s-main-slot s-result-list s-search-results sg-row" )]
    #print(table)

    # Scrapping the name and specifications
    mobile = [m.text.strip() for m in bs.find_all('a', class_='a-link-normal a-text-normal')]
    print(mobile)
    
    # Scrapping the price
    price = [p.text for p in bs.find_all('span', class_='a-price-whole')]
    print(price)  
    
    # Scrapping the image urls
    img = [i.get('src') for b in bs.find_all('a', class_='a-link-normal s-no-outline') for i in b.find_all('img')]
    print(img)
    
    # Scrapping the ratings(stars)
    stars = [s.text.strip() for b in bs.find_all('div', class_='a-row a-size-small') for s in b.find_all('span', class_='a-icon-alt')]
    print(stars)
    
    
    
# Calling the function while specifying the URL
function_7('https://www.amazon.in/')

HTTPError: HTTP Error 503: Service Unavailable

The above code was blocking from scrapping the data at some point after executing several times, and so was rejecting the page request each time. 
In order to overcome this problem I used multiple request from different search engines to fetch the request of the page.
The website sometimes displays the scraped the data or it blocks the data, only these two things are occuring.

In [14]:
import random 
from urllib.request import Request, urlopen
import pandas as pd
import time

# Creating a function which will take a URL each time the function is called
def function_7(url,last_page):
    
    # Writing a request to fetch the data from the web page
    keys = ['Accept', 'Accept-Language', 'Referer', 'Sec-Fetch-Dest', 'Sec-Fetch-Site', 'Sec-Fetch-User', 'Upgrade-Insecure-Requests']
    values = ["text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
          "en-GB,en;q=0.9,mr-IN;q=0.8,mr;q=0.7,hi-IN;q=0.6,hi;q=0.5,en-US;q=0.4","https://www.scrapehero.com/",
          "document","cross-site","?1","1"]
    
    # Now we will use a loop to navigate through the pages
    #pick any random page number
    ran_page = list(range(1,last_page))
    random.shuffle(ran_page)
    
    # These are the lists which will contain all the relevant data
    mobile_name = []
    mobile_price = []
    mobile_img = []
    mobile_rating = []
    full_list_mobile_name = []
    full_list_mobile_price = []
    full_list_mobile_img = []
    full_list_mobile_rating = []
   

    # Writing a request to fetch the data from the web page 
    for page_no in ran_page:
        if page_no == 1:
            page = Request(url + '/s?i=electronics&bbn=1389401031&rh=n%3A976419031%2Cn%3A1389401031%2Cn%3A1389432031%2Cp_36%3A-2000000&dc&qid=1612600046&rnid=1318502031&ref=sr_nr_p_36_1')
        else:
            page = Request(url + '/s?i=electronics&bbn=1389401031&rh=n%3A976419031%2Cn%3A1389401031%2Cn%3A1389432031%2Cp_36%3A-2000000&dc&page=' + str(page_no) + '&qid=1612600046&rnid=1318502031&ref=sr_nr_p_36_1')
    #print('page number ---->',ran_page,'\n\n')
    
        #pick any random key+value to get to the url and open it for fetching the data
        ran = random.randint(0, len(keys)-1)
        page.add_header(keys[ran], values[ran])
    
        toggle_switch = 'ON'
        try:
            page_content = urlopen(page).read()
        except:
            #print('The request for fetching the page content of the page', ran_page, 'has been blocked by amazon')
            toggle_switch = 'OFF'
    
        if toggle_switch == 'ON':
            
            # Let's add time delay to our code so that the site does not sense any acticvity, as it was blocking earlier
            time.sleep(random.randint(3,10))
        
            # Parsing and getting access to the content of the requested page
            bs = BeautifulSoup(page_content, 'html.parser')

            # Scrapping the name and specifications
            mobile = bs.find_all('h2', class_='a-size-mini a-spacing-none a-color-base s-line-clamp-2')
            print(len(mobile))
    
            # Scrapping the price
            price = bs.find_all('span', class_='a-price-whole')
            print(len(price))  
    
            # Scrapping the image urls
            img = bs.find_all('a', class_='a-link-normal s-no-outline')
            print(len(img))
    
            # Scrapping the ratings(stars)
            stars = bs.find_all('div', class_='a-row a-size-small') 
            print(len(stars))
        
            for m in mobile:
                full_list_mobile_name.append(m.text.strip('\n'))
        
            for p in price:
                full_list_mobile_price.append(p.text)
                
            for i in img:
                url = i.find('img').get('src')
                full_list_mobile_img.append(url)
            
            for s in stars:
                rating = s.find('span', class_='a-icon-alt').text
                full_list_mobile_rating.append(rating.strip('\n'))
    
                if (len(price)==len(img)) and (len(img)==len(stars)):
                    for m in mobile:
                        mobile_name.append(m.text.strip('\n'))
        
                    for p in price:
                        mobile_price.append(p.text)
                
                    for i in img:
                        url = i.find('img').get('src')
                        mobile_img.apend(url)
            
                    for s in stars:
                        rating = s.find('span', class_='a-icon-alt').text
                        mobile_rating.append(rating.strip('\n'))
            
        
    #Building the data frame
    amazon_phones = pd.DataFrame({
        'mobile_name' : mobile_name,
        'mobile_price' : mobile_price,
        'mobile_img' : mobile_img,
        'mobile_rating' : mobile_rating
    })
    
    display(amazon_phones)
    pd.set_option('display.max_colwidth', None)
    print('-----------------------------------------------------------------','\n\n')  

    
# Calling the function while specifying the URL
function_7('https://www.amazon.in/', 219)

0
17
24
17

Empty DataFrame
Columns: [mobile_name, mobile_price, mobile_img, mobile_rating]
Index: []

-----------------------------------------------------------------

# Question 8:-
    Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [15]:
# Creating a function which will take a URL each time the function is called
def function_8(url):
    
    # Writing a request to fetch the data from the web page
    page = requests.get(url + 'MapClick.php?lon=-122.41323847509919&lat=37.77766187310338#.YB-ZNugzZPY')
    
    # Parsing and getting access to the content of the requested page
    bs = BeautifulSoup(page.content, 'html.parser')
    
    # First we will scrape the data from the extended forecast present on the page and then we will scrape the detailed forecast info present on that page.
    # In this way we will get the forecast for the coming week aswell
    # Scrapping all the required data from the extended forecast text
    table = [b.text for b in bs.find_all('div', id='seven-day-forecast-container')]
    #print(table)
    
    # Scrapping the period 
    period = [p.text for b in bs.find_all('li', class_='forecast-tombstone') for p in b.find_all('p', class_='period-name')]
    #print(period)
    
    # Scrapping the image url
    img = [i.get('src') for b in bs.find_all('li', class_='forecast-tombstone') for d in b.find_all('div', class_='tombstone-container') for i in d.find_all('img')]
    #print(img)
    
    # Scrapping the short description
    short_desc = [sd.text  for sd in bs.find_all('p', class_='short-desc')]
    #print(short_desc)
    
    # Scrapping the temperature
    temp = [t.text for t in bs.find_all('p', class_='temp')]
    #print(temp)
    
    #Building the data frame
    extended_forecast = pd.DataFrame({
        'period' : period,
        'img' : img,
        'short_desc' : short_desc,
        'temp' : temp
    })
    
    print('Extended Forecast for San Francisco CA ----->')
    display(extended_forecast)
    print('-----------------------------------------------------------------','\n\n')
    print('NOTE :- The extended forecast was available for 3 to 4 days only in the above format on the whole website and so was not able to scrape the information for comming week(say 6 or 7 days), but there was some information available in the detailed forecast table present on the website, so got data scrapped from both the tables')
    print('-----------------------------------------------------------------','\n\n') 
    
    # Scrapping all the required data from the detailed forecast
    table = [b.text for b in bs.find_all('div', id='detailed-forecast', class_='panel panel-default')]
    #print(table)
    
    # Scrapping the period
    period = [p.text for b in bs.find_all('div', class_='col-sm-2 forecast-label') for p in b.find_all('b')]
    #print(period)
     
    # Scrapping the description 
    desc = [d.text for d in bs.find_all('div', class_='col-sm-10 forecast-text')]
    #print(desc)
     
    # Now we need to seperate the information from the description
    # We will be using regex to do the task
    # Extract the short description
    import re
    short_desc = []
    short_description = []
    for s in desc:
        short_desc.append(re.findall('^.*?(?=with)',s))#'([a-zA-Z]+?)\s*([a-zA-Z]+?),'
    #print(short_desc)
    #for list_to_str in short_desc:
        #for a in list_to_str:
            #temp = ' '.join([str(elem) for elem in a])
            #print(temp)
            #short_description.append(temp)
    for list_to_str in short_desc:
        for a in list_to_str:
            strip = a.strip('[]')
            strip = strip.strip(' ,')
            #print(strip)
            short_description.append(strip)
    
    # Extract temperature
    temp_F = []
    temperature = []
    for t in desc:
        temp_F.append(re.findall('with.+?\S+?[0-9].', t))
    #print(temp_F)
    for temp_to_strip in temp_F:
        for b in temp_to_strip:
            strip = b.strip('with.')
            strip = strip.strip('a ')
            #print(strip)
            temperature.append(strip)
            
    
    #Building the data frame
    detailed_forecast = pd.DataFrame({
        'period' : period,
        'desc' : desc,
        'short_desc' : short_description,
        'temperature' : temperature
    })
    
    print('Detailed Forecast for San Francisco CA ----->')
    display(detailed_forecast)
    pd.set_option('display.max_colwidth', None)
    print('-----------------------------------------------------------------','\n\n') 

# Calling the function while specifying the URL
function_8('https://forecast.weather.gov/')

Extended Forecast for San Francisco CA ----->

           period                        img     short_desc         temp
0       Overnight  newimages/medium/nbkn.png  Mostly Cloudy   Low: 45 °F
1          Monday   newimages/medium/bkn.png  Mostly Cloudy  High: 58 °F
2     MondayNight  newimages/medium/nbkn.png  Mostly Cloudy   Low: 48 °F
3         Tuesday   newimages/medium/bkn.png  Mostly Cloudy  High: 58 °F
4    TuesdayNight  newimages/medium/nbkn.png  Mostly Cloudy   Low: 47 °F
5       Wednesday   newimages/medium/few.png          Sunny  High: 60 °F
6  WednesdayNight  newimages/medium/nsct.png  Partly Cloudy   Low: 48 °F
7        Thursday    newimages/medium/ra.png    Rain Likely  High: 59 °F
8   ThursdayNight   newimages/medium/nra.png    Rain Likely   Low: 50 °F

-----------------------------------------------------------------


NOTE :- The extended forecast was available for 3 to 4 days only in the above format on the whole website and so was not able to scrape the information for comming week(say 6 or 7 days), but there was some information available in the detailed forecast table present on the website, so got data scrapped from both the tables
-----------------------------------------------------------------


Detailed Forecast for San Francisco CA ----->

,period,desc,short_desc,temperature
0,Overnight,"Mostly cloudy, with a low around 45. West southwest wind 3 to 5 mph.",Mostly cloudy,low around 45
1,Monday,"Mostly cloudy, with a high near 58. Calm wind becoming west southwest 5 to 7 mph in the afternoon.",Mostly cloudy,high near 58
2,Monday Night,"Mostly cloudy, with a low around 48. West wind 6 to 8 mph.",Mostly cloudy,low around 48
3,Tuesday,"Mostly cloudy, with a high near 58. West wind 9 to 11 mph.",Mostly cloudy,high near 58
4,Tuesday Night,"Mostly cloudy, with a low around 47. West wind 7 to 9 mph.",Mostly cloudy,low around 47
5,Wednesday,"Sunny, with a high near 60.",Sunny,high near 60
6,Wednesday Night,"Partly cloudy, with a low around 48.",Partly cloudy,low around 48
7,Thursday,"Rain likely, mainly after 4pm. Mostly cloudy, with a high near 59.","Rain likely, mainly after 4pm. Mostly cloudy",high near 59
8,Thursday Night,"Rain likely, mainly before 10pm. Mostly cloudy, with a low around 50.","Rain likely, mainly before 10pm. Mostly cloudy",low around 50
9,Friday,"A chance of rain, mainly between 10am and 4pm. Partly sunny, with a high near 59.","A chance of rain, mainly between 10am and 4pm. Partly sunny",high near 59
10,Friday Night,"A chance of rain. Mostly cloudy, with a low around 49.",A chance of rain. Mostly cloudy,low around 49
11,Saturday,"Rain likely. Mostly cloudy, with a high near 58.",Rain likely. Mostly cloudy,high near 58
12,Saturday Night,"A chance of rain. Mostly cloudy, with a low around 46.",A chance of rain. Mostly cloudy,low around 46
13,Sunday,"A chance of rain. Partly sunny, with a high near 57.",A chance of rain. Partly sunny,high near 57

-----------------------------------------------------------------